
{% block content %}
<h2>Listado de Novedades</h2>
<table class="table">
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Zona</th>
            <th>Fecha</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for novedad in object_list %}
        <tr>
            <td>{{ novedad.cedula }}</td>
            <td>{{ novedad.nombre }}</td>
            <td>{{ novedad.zona }}</td>
            <td>{{ novedad.fecha }}</td>
            <td>{{ novedad.motivo|default:novedad.reemplazo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
