select#id_zona {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
}

body{
  font-family: "Open Sans", sans-serif;
}

.mobile{
  display: none;
}

/* HEADER */
.static-header{
  display: flex;
  justify-content: center;
  background-color: #5C9C31;
}

.header-logo{
  min-width: 100px;
  max-width: 180px;
  margin: 8px 0;
}

.dinamic-header{
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #5C9C31;
}

.dinamic-header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
}

.items-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-btn{
  display: flex;
  align-items: center;
  /* max-height: 50px; */
}

.item-btn button{
  color: #fff;
  border: none;
  background-color:inherit;
}

.item-btn button:hover{
  border-radius: 6px;
  background-color: #3c6922;
}

/* TÍTULO HERRAMIENTA */
.title-s{
  margin: 20px 0;
}

.select2-container{
  width: 100% !important;
}

/* DATOS EMPLEADO */
.two-fields{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.two-fields p {
  margin: 8px 15px 15px 0;
}

.two-fields input, .two-fields select {
  min-width: 200px;
}

/* BOTONES */
.actions-btns button{
  width: 100%;
  border: none;
  background-color: inherit;
}

.actions-btns .edit:hover{
  border-radius: 6px;
  background-color: #ffa500;
}

.actions-btns .delete:hover{
  border-radius: 6px;
  background-color: #ff0000;
}

.actions-btns .bi-pencil-square, .actions-btns .bi-trash{
  display: flex;
  padding: 5px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.actions-btns .bi-trash{
  color: #ff0000;
}

.actions-btns .bi-trash:hover{
  color: #ffffff;
}

.actions-btns .bi-pencil-square{
  color: #ffa500;
}

.actions-btns .bi-pencil-square:hover{
  color: #ffffff;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-funda {
  background-color: #5c9c31;
  border-color: #5c9c31;
  color: #e3e3e3;
  min-width: 160px;
  min-height: 45px;
  font-size: 1.15rem;
}

.btn-funda:active {
  background-color: #3c6922 !important;
  border-color: #3c6922 !important;
}

.btn-funda:hover{
  background-color: #4c8927;
  border-color: #4c8927;
}
.btn-funda:disabled{
  background-color: gray;
  
  border-color: white;
}


.btn-close{
  background-color: #ff0000;
}

/* Grids*/
.grid-container{
  display: grid;
  grid-template-columns: 2fr 1fr ;
}

/* TABLAS */
.table-responsive{
  border-radius: 6px;
  background-color: #e3e3e3;
}

/* MODAL */
.modal-body select{
  width: 100%;
}
#novedadModal .select2-container {
  z-index: 1055; /* Asegúrate de que tenga un z-index mayor al modal */
  width: 100% !important;
}

#novedadModal .select2-dropdown {
  z-index: 1056; /* Asegúrate de que el dropdown esté por encima del modal */
}


@media (max-width: 700px){
  .mobile{
    display: block;
  }

  .desktop{
    display: none;
  }

  .two-fields{
    display: block;
  }

  .item-btn button{
    display: none;
  }

  .select2-container{
    width: 95% !important;
  }

  .grid-container{
    display: block;
  }

  .header-logo{
    min-width: 20px;
    max-width: 70px;
  }

  .modal-dialog{
    margin: 1rem;
  }
}

#loadingModal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed; /* Mantener el modal en una posición fija */
  z-index: 1000; /* Asegurarse de que el modal esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilitar el scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
}

#loadingModal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


#loadingModalFormNovedad {
  display: none; /* Ocultar el modal por defecto */
  position: fixed; /* Mantener el modal en una posición fija */
  z-index: 1000; /* Asegurarse de que el modal esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilitar el scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
  border:50px;
}

#loadingModalFormNovedad .modal-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Estilo personalizado para el botón "Sí" */
.btn-confirm {
    background-color: #4c8927 !important;
    color: white !important;
    border: none !important;
    width: 80px; /* Ajusta el ancho del botón */
    height: 40px; /* Ajusta la altura del botón */
    margin-right: 10px; /* Espaciado entre los botones */
}

.btn-confirm:hover {
    background-color: #3d6e20 !important;
}

/* Estilo personalizado para el botón "No" */
.btn-cancel {
    background-color: #6c757d !important;
    color: white !important;
    border: none !important;
    width: 80px; /* Ajusta el ancho del botón */
    height: 40px; /* Ajusta la altura del botón */
}

.btn-cancel:hover {
    background-color: #5a6268 !important;
}
.hidden {
  display: none;
}
.table-responsive {
  margin-bottom: 2rem; /* Ajusta este valor según sea necesario para lograr el espaciado deseado */
}